= render "shared/shared_sidebar"

.right-content
  .right-content__chat-banner
    .left
      %p.group-name=@group.name
      %p.members
        Members:
        %span
          = @group.show_username
    = link_to "Edit", edit_group_path(@group), class: "button"
  .right-content__message-body
    = render @group.messages

  .form-wrapper
    = form_for [@group,@message] do |f|
      = f.text_field :content, placeholder: 'Type a message'
      = f.label :image, class: 'upload-label' do
        = fa_icon 'picture-o'
      = f.file_field :image, class: 'hidden'
      = f.submit 'Send', id: 'submit-btn'
