.left-content
  .left-content__menu-bar
    = current_user.name
    = link_to edit_user_path(current_user) do
      %i.fa.fa-cog
    =link_to new_group_path do
      %i.fa.fa-edit
  - current_user.groups.each do |group|
    .left-content__group-display
      = link_to group_messages_path(group),class: "group-page" do
        %p.group-name=group.name
        %p.message まだメッセージはありません。

.right-content
  .right-content__chat-banner
    .left
      %p.group-name sample
      %p.members Members: 笠原優子
    %a.button{:href => "#"} Edit
  .right-content__message-body
    .message
      %p.username
        笠原優子
        %span 2018/09/02
      %p.text まだメッセージはありません。
    .message
      %p.username
        笠原優子
        %span 2018/09/02
      %p.text まだメッセージはありません。
  .form-wrapper
    = form_tag("/tweets") do
      = text_field_tag :title, "", placeholder: "Type a message"
      %label.upload-label{for: "upload-icon"}
        %i.fa.fa-picture-o
        = file_field_tag :image, id: "upload-icon", class: "hidden"
      = submit_tag("Send", id: "submit-btn")







